<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>墨盒音乐</title>
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/content.css" />
    <link rel="stylesheet" href="../css/search.css" />

    <!-- <link rel="stylesheet" href="../lib/Optiscroll-3.2.0/dist/optiscroll.css"/> -->

    <!-- <link rel="stylesheet" href="https://unpkg.com/vue-happy-scroll/docs/happy-scroll.css"> -->
</head>

<body>

    <div class="head" id="player">
        <div class="img">
            <img src="../img/logo.jpg" :src="music.cover || '../img/logo.jpg'" alt="封面图片">
        </div>
        <div>
            <div class="name" v-text="music.name ? (music.name + ' - ' + music.author + ' (来自:'+ music.originName+')' ) : '请选择或者搜索歌曲'">歌曲名称</div>
            <div class="control">
                <ul>
                    <li>
                        <i class="fa fa-play" @click="toogle" :class="playing ? 'fa-pause':'fa-play' "></i>
                    </li><li>
                        <i class="fa fa-forward" @click="next"></i>
                    </li><li>
                        <i class="fa fa-random"></i>
                    </li><li>
                        <i class="fa fa-volume-up"></i>
                    </li><li>
                        <i class="fa fa-list"></i>
                    </li>
                </ul>
            </div>
            <div class="time">
                <i class="fa fa-search" @click="search"></i>
                <span><span style="color:red" v-text="music.now || '00:00'">00:00</span>&nbsp;/&nbsp;<span v-text="music.total || '00:00'">00:00</span></span>
            </div>
            <div class="bar">
                <div class="bar-bottom" @click="seek" ref="bar">
                    <div class="alpha" style="left:0" :style="{ left:music.rate ? ( music.rate + '%'):'0' }" @mousedown="down">
                        <div class="alpha-bottom"></div>
                    </div>
                    <div class="bar-top" @click="seek" style="width:0" :style="{ width:music.rate ?(music.rate+'%'):'0' }"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="list">
        <div v-cloak v-if="imported" class="import_form">
            <input type="text" v-model="url" placeholder="歌曲分享地址" @keyup.enter="import_music">
            <select v-model="origin" @change="import_music">
                <option :value="item.key" v-for="item in origins" v-text="item.value"></option>
            </select>
        </div>
        <div><span>歌曲列表</span> <span><a href="javascript:void(0)" @click='imported = !imported'>导入歌曲</a></span></div>


        <!-- <happy-scroll color="rgba(51,51,51,0.2)"> -->
        <ul class="right-list">
            <li v-for="( item , index ) in musics" v-cloak>
                <span class="right">
                    <span class="time" v-text="item.time"></span>
                    <span class="origin" v-text="item.originName"></span>
                    <span><i class="fa fa-trash-o" @click="rm(index)"></i></span>
                </span>
                <div class="name"><a href="javascript:void(0);" @click="play(index)" v-text="item.name + ' - ' + item.author"></a></div>
            </li>
        </ul>
        <!-- </happy-scroll> -->



    </div>
    <div id="search" :style="{ display:show ? 'block':'none' }">
        <div>
            <i class="fa fa-window-close" @click="show = false"></i>
            <div class="form">
                <input type="text" v-model="name" placeholder="歌曲名称" @keyup.enter="search">
                <select v-model="origin" @change="search">
                    <option :value="item.key" v-for="item in origins" v-text="item.value"></option>
                </select>
            </div>
            <div>
                <div class="result right-list">
                    <ul>
                        <li v-for="(item , index) in result">
                            <span class="right">
                                <span class="time" v-text="item.time + ' ('+item.originName+')'"></span>
                                <i class="fa fa-play" @click="play(index)"></i>
                                <i class="fa fa-plus" @click="add(index)"></i>
                            </span>
                            <div class="name" v-text="item.name + ' - ' + item.author">歌曲名称</div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <script src="../js/common.js"></script>
    <script src="../js/player.js"></script>
    <script src="../js/list.js"></script>
    <script src="../js/search.js"></script>
    <!-- <script src="../lib/scroll/js/scrollbot.min.js"></script> -->
    <!-- <script src="../lib//Optiscroll-3.2.0/dist/optiscroll.min.js"></script> -->
    <!-- <script src="https://unpkg.com/vue-happy-scroll/docs/happy-scroll.min.js"></script> -->
    <script>
        document.onclick = function (event) {
            console.log(event.target);
        }

        window.control = {
            next(random) {
                let _this = this;
                let next = list.next(random, function (music) { //有可能还没有播放地址
                    if (music) {
                        _this.play(music);
                    }
                });
                if (next) {
                    this.play(next);
                }
            },
            showSearch(toogle) {
                if (toogle) search.show = !search.show;
                else search.show = true;
            },
            play(music) {
                player.music = music;
            },
            add(music) {
                list.add(music);
            },
            install(key, value, bean) {
                search.install(key, value, bean);
                list.install(key, value, bean);
            }
        };
        setTimeout(function () {

            // var element = document.querySelector('.right-list')
            // var myOptiscrollInstance = new Optiscroll(element, {
            //     maxTrackSize: 50,
            //     minTrackSize: 20
            // });
            // 滚动条优化
            // let scroll = document.getElementsByClassName('right-list');
            // for (var i = 0; i < scroll.length; i++) {
            //     console.log('加载进度条')
            //     var customScroll = new scrollbot('.right-list', 5)
            // }
        }, 1000)




        // control.showSearch();

        // control.play({name:'aliez',url:'http://fs.w.kugou.com/201901131524/c23b183eb6050d73c4bc5d9657c8448d/G109/M04/07/14/DYcBAFvWpKaAG5DfAEnDhcRa7YY101.mp3',cover:'http://singerimg.kugou.com/uploadpic/softhead/400/20160422/20160422102754867837.jpg'})

        // search.result.push({ title: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // search.result.push({ title: '恋爱循环', time: '02:42', originName: '酷狗',origin:'ku' })
        // control.add({title:'恋爱循环',time:'02:42',origin:'酷狗'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})

        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // control.add({ name: '恋爱循环', time: '02:42', originName: '酷狗' ,origin:'ku'})
        // require('../plugins/search_from_163')



        let fs = require('fs');
        let path = require('path');

        let dev = __dirname.includes('node_modules');

        let real_path = path.join(__dirname, '../plugins');
        if (dev) { //开发者模式
            real_path = path.join(__dirname.substring(0, __dirname.indexOf('node_modules')), '/src/plugins');
        }

        console.log(real_path);
        fs.readdir(real_path, function (err, dirs) {
            if (err) throw err;
            console.log(dirs);
            dirs.forEach(function (dir) {
                let real = path.join(__dirname, '../plugins/', dir);
                if (dev) {
                    real = path.join(__dirname.substring(0, __dirname.indexOf('node_modules')),
                        '/src/plugins')
                    if (dir.includes('.js')) {
                        console.log(path.join(real_path, dir.substring(0, dir.length - 3)))
                        require(path.join(real_path, dir.substring(0, dir.length - 3)))
                    }
                } else {
                    //绕开文件夹
                    if (fs.lstatSync(real).isDirectory()) {
                        return;
                    }
                    require('../plugins/' + dir.substring(0, dir.length - 3));
                }

            });
        })
    </script>
</body>

</html>