/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
[v-cloak] {
  display: none;
}
.right-list {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  cursor: default;
}
.right-list li {
  padding-left: 15px;
  border-top: #bea6a6 solid 1px;
  border-bottom: #bea6a6 solid 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.right-list .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.right-list .right {
  float: right;
  margin-right: 15px;
}
.right-list .right .time {
  margin-right: 10px;
}
