

// 最小边距
@margin-border:15px;


@form-height:30px;

@search-bg-color: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;

// 播放器高度
@head-height:100px;
 
[v-cloak]{
    display: none;
}



//歌曲列表，左侧歌曲名，右侧操作之类的东西
.right-list{
    box-sizing: border-box;
    height: 100%;
    // padding-top:@form-height + 15;
    overflow-y:auto;      
    // margin-top: 15px;
    cursor: default;
    li{
        padding-left: @margin-border;
        border-top:rgb(190, 166, 166) solid 1px;
        border-bottom:rgb(190, 166, 166) solid 1px;
        padding-top:5px;
        padding-bottom: 5px;
    }
    .name {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    
    .right{
        float: right;
        margin-right: @margin-border;

      
        .time{
            margin-right: @margin-border - 5;
        }
    }
}
