
.content {
   
    padding: 15px;
    border-top: #2f353c solid 2px;
 
    >ul>li >span{
        display: inline-block;
    }
    .title{
        min-width: 60%;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        a{
            text-decoration: none;
        }
        a:hover{
            color: black;
            text-decoration: aqua;
        }
    }

}
