/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
[v-cloak] {
  display: none;
}
.right-list {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  cursor: default;
}
.right-list li {
  padding-left: 15px;
  border-top: #bea6a6 solid 1px;
  border-bottom: #bea6a6 solid 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.right-list .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.right-list .right {
  float: right;
  margin-right: 15px;
}
.right-list .right .time {
  margin-right: 10px;
}
.content {
  padding-top: 100px;
  padding-bottom: 30px;
  height: 100%;
  box-sizing: border-box;
}
.content a {
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
.content > div {
  height: 30px;
  padding-left: 15px;
  border-bottom: #743d3d solid 2px;
}
.content .right-list {
  padding-bottom: 15px;
}
.content .import_form {
  position: absolute;
  left: 30%;
  top: 20%;
  height: 50px;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  background-color: #534747;
}
.content .import_form * {
  height: 40px;
}
.content .import_form input[type=text] {
  width: 300px;
}
