
@import "common.less";


@import-height:50px;
@import-bg-color:rgb(83, 71, 71);

@title-height:30px;
@title-border-size:2px;
@title-border-color:rgb(116, 61, 61);

.content {
   
    padding-top: @head-height;
    padding-bottom: @title-height;
    height: 100%;
    // overflow: hidden;
    box-sizing: border-box;

    a {
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    >div{
      height: @title-height;
      padding-left: @margin-border;

      border-bottom: @title-border-color solid @title-border-size; 

     
    }

    .right-list{
      padding-bottom:  @margin-border;
    }


    .import_form {
      position: absolute;
      left: 30%;
      top: 20%;

      height: @import-height;

      padding:@margin-border;


      text-align: center;
      vertical-align: middle;

      background-color: @import-bg-color;
      * {
        height: @import-height - 10;
      }
      input[type=text]{
        width: 300px;
      }
    }


}
