
@color:rgb(209, 208, 223);


@head-bg-color:linear-gradient(to right, #2C5364, #203A43, #0F2027);


@bar-heigth:12px;
@bar-width:100%;
@bar-radis:8px;
@bar-bottom-bg:rgb(83, 97, 22);
@bar-top-bg:red;

@bar-alpha-bottom:#9ca6b1;
@bar-alpha-top:#d0d9e3;


@content-bg-color:#272e36;


@input-bg-color:#2f3d4b;
 

@import 'common.less';

* {
    padding: 0;
    margin: 0;
    color: @color;
    cursor: default;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: @content-bg-color;
}
li {
    list-style: none;
}

i{
    cursor: pointer;
}


input[type=text]{
    border:none;
    border-radius: 10px;
    padding-left:8px;
    background-color: @input-bg-color;
}
input[type=text]:focus{
    border-radius: 10px;
    border:#9ca6b1 solid 1px;
    box-shadow:1px 1px 1px white,1px -1px 1px white,-1px 1px 1px white,-1px -1px 1px white;
}

select{
    background-color: #5f5252;
    border:#5f5252 solid 1px;
}

.head {
    height: @head-height;
    // background-color: @head-bg-color;
    background: #0F2027;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: @head-bg-color; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    width: 100%;
    top:0;
    >div {
        // display: inline-block;
        // padding-bottom: 2000px;
        // margin-bottom: -2000px;
        margin-left: @head-height;
        // padding-right: 15px;
        box-sizing: border-box;
    }
  
    .img{
          // 左侧
        float: left;
        margin-left: 0px;
        max-height: @head-height;
        max-width: @head-height;

        img{
            max-height: @head-height;
            max-width: @head-height;
        }
    }
    .name{
        padding-left: @margin-border;

        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .control{
        // margin-right: -5px;
        // text-align: center;
        ul li{
            text-align: center;
            vertical-align: top;
            display: inline-block;
            // margin:5px;
            width: 20%;
            margin: 0;
            // padding-right: 5px;
        }
    }
    .time{
        padding-right: @margin-border;
        >i{
            display: inline-block;
            margin-left: 15px;
        }
        >span{
            float: right;
        }
    }

    .bar{
        padding-right: @margin-border;
        padding-left: @margin-border;
        .bar-bottom{
            position: relative;
            margin: 5px;
            height: @bar-heigth;
            width: @bar-width;
            background-color: @bar-bottom-bg;
           
            border-radius: @bar-radis;

        }
        .bar-top{
            height: @bar-heigth;
            // width: @bar-width;
            background-color: @bar-top-bg;
            border-top-left-radius: @bar-radis;
            border-bottom-left-radius: @bar-radis;
            margin-right:-5px;
        }
        .alpha{//进度原点

            cursor: pointer;

            float: left;
            position: absolute;
            top :-2px;
// 避免底层颜色和移动图标之间出现间距
            margin-left:-5px;

            height: @bar-heigth + 3px;
            width: @bar-heigth + 3px;

            background: @bar-alpha-top;

            border-radius: 50%;

            .alpha-bottom{

                position: absolute;
                // 一共四份，占中间两份
                top: (@bar-heigth  - 8 ) / 2;
                left: (@bar-heigth - 8 ) / 2;
                height: 10px;
                width: 10px;
                background-color: @bar-alpha-bottom;
                border-radius: 50%;
            }
        }
    }
}
