/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
[v-cloak] {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  color: #d1d0df;
  cursor: default;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #272e36;
}
li {
  list-style: none;
}
i {
  cursor: pointer;
}
input[type=text] {
  border: none;
  border-radius: 10px;
  padding-left: 8px;
  background-color: #2f3d4b;
}
input[type=text]:focus {
  border-radius: 10px;
  border: #9ca6b1 solid 1px;
  box-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
}
select {
  background-color: #5f5252;
  border: #5f5252 solid 1px;
}
.head {
  height: 100px;
  background: #0F2027;
  /* fallback for old browsers */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  top: 0;
}
.head > div {
  margin-left: 100px;
  box-sizing: border-box;
}
.head .img {
  float: left;
  margin-left: 0px;
  max-height: 100px;
  max-width: 100px;
}
.head .img img {
  max-height: 100px;
  max-width: 100px;
}
.head .name {
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.head .control ul li {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  width: 20%;
  margin: 0;
}
.head .time {
  padding-right: 15px;
}
.head .time > i {
  display: inline-block;
  margin-left: 15px;
}
.head .time > span {
  float: right;
}
.head .bar {
  padding-right: 15px;
  padding-left: 15px;
}
.head .bar .bar-bottom {
  position: relative;
  margin: 5px;
  height: 12px;
  width: 100%;
  background-color: #536116;
  border-radius: 8px;
}
.head .bar .bar-top {
  height: 12px;
  background-color: red;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: -5px;
}
.head .bar .alpha {
  cursor: pointer;
  float: left;
  position: absolute;
  top: -2px;
  margin-left: -5px;
  height: 15px;
  width: 15px;
  background: #d0d9e3;
  border-radius: 50%;
}
.head .bar .alpha .alpha-bottom {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 10px;
  width: 10px;
  background-color: #9ca6b1;
  border-radius: 50%;
}
