/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
[v-cloak] {
  display: none;
}
.badge {
  display: inline-block;
  padding: 1px 5px;
  vertical-align: top;
  font-size: 12px;
  background-color: #d6bfb3;
  color: #1d1b1b;
  border-radius: 5px;
}
.ink-scroll-container {
  height: 100% !important;
  box-sizing: border-box;
  cursor: default;
}
.ink-scroll-container li {
  padding-left: 15px;
  border-top: #bea6a6 solid 1px;
  border-bottom: #bea6a6 solid 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ink-scroll-container .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ink-scroll-container .right {
  float: right;
  margin-right: 15px;
}
.ink-scroll-container .right .time {
  margin-right: 10px;
}
body {
  overflow: hidden;
}
#search {
  position: absolute;
  display: none;
  height: 70%;
  width: 100%;
  bottom: -1px;
  left: 0;
}
#search > div {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  height: 100%;
}
#search .fa-window-close {
  position: absolute;
  right: 15px;
  top: -8px;
  z-index: 9999;
  font-size: 22px;
}
#search .form {
  height: 30px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  position: fixed;
}
#search .form input {
  margin-right: 15px;
  height: 30px;
  line-height: 30px;
}
#search .form select {
  height: 30px;
  line-height: 30px;
}
#search .form + div {
  height: 100%;
  padding-top: 45px;
  box-sizing: border-box;
}
