
@import 'common.less';


body{
    overflow: hidden;
}
#search {
    position: absolute;
    display: none;  
    height: 70%;
    width: 100%;
    bottom: -1px;//底部出现音乐列表部分的滚动条
    left: 0;
    

    >div{
        background: @search-bg-color;  
        height: 100%;
    }
    .fa-window-close {
        position: absolute;
        right: 15px;
        top: -8px;
        z-index: 9999;
        font-size: 22px;
    }
    .form {
        height: @form-height;
        text-align: center;
        display: block;
        width: 100%;
        padding:5px;
        box-sizing: border-box;
        position: fixed;
        input {
            margin-right: 15px;
            height: @form-height;
            line-height: @form-height;
        }
        select{
            height: @form-height;
            line-height: @form-height;
        }
    }
    .form + div{
        height: 100%;
        padding-top:@form-height+15px;
        box-sizing: border-box;
    }
    .result{
        // box-sizing: border-box;
        // height: 100%;
        // // padding-top:@form-height + 15;
        // overflow-y:scroll;      
        // // margin-top: 15px;
        // cursor: default;
        // li{
        //     padding-left: @margin-border;
        //     border-top:rgb(190, 166, 166) solid 1px;
        //     border-bottom:rgb(190, 166, 166) solid 1px;
        //     padding-top:5px;
        //     padding-bottom: 5px;
        // }
        // .name {
        //     overflow: hidden;
        //     text-overflow:ellipsis;
        //     white-space: nowrap;
        // }
        
        // .right{
        //     float: right;
        //     margin-right: @margin-border;

          
        //     .time{
        //         margin-right: @margin-border - 5;
        //     }
        // }
        

    }
}

